* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  display: flex;
  flex-flow: row nowrap;
  height: 80px;
  width: 100%;
  padding: 25px 0 25px 30px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, black, grey); }
  .header h1 {
    margin-left: 10px; }
  .header nav {
    width: 60%;
    margin-right: 10%; }
    .header nav .nav-flex {
      display: flex;
      justify-content: space-between; }
      .header nav .nav-flex li {
        font-weight: bold;
        font-family: 'Bebas Neue', regular;
        font-size: 30px; }
        .header nav .nav-flex li:hover {
          border-bottom: 1px solid white; }

@media (max-width: 1100px) {
  .header {
    height: 160px;
    flex-direction: column; }
    .header nav {
      width: 100%;
      margin-right: 0; }
      .header nav .nav-flex {
        width: 90%;
        margin: auto; }
        .header nav .nav-flex li {
          font-size: 25px;
          font-weight: 20; } }

.presentacion {
  display: flex;
  flex-flow: column nowrap;
  height: 480px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: 'Bebas Neue', regular;
  font-size: 30px;
  background-image: url(../media/imagen-fondo-principal.jpg);
  background-repeat: no-repeat;
  background-position: 50% 5%; }
  .presentacion p {
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 50px; }
  footer ul {
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-left: 50px; }
    footer ul li {
      font-size: 50px; }
      footer ul li a {
        color: white; }

@media (max-width: 950px) {
  footer {
    flex-direction: column; }
    footer ul {
      justify-content: center;
      margin: auto;
      width: 50%; }
    footer li {
      margin: auto; }
  p {
    margin-top: 10px; } }

@media (max-width: 650px) {
  footer ul {
    width: 80%; } }

.tituloVinilos {
  font-family: 'Bebas Neue', cursive;
  font-size: 58px;
  margin: 100px 0px 90px 70px; }

.vinilos {
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 50px; }
  .vinilos div {
    height: 30%;
    width: 23%;
    margin: 10px;
    text-align: center;
    padding: 5px; }
    .vinilos div p {
      margin-top: 10px;
      font-weight: bold; }
    .vinilos div:hover {
      border: 2px solid white;
      border-radius: 10px; }

@media (max-width: 1050px) {
  .vinilos {
    margin: auto; }
    .vinilos div {
      width: 45%; } }

@media (max-width: 550px) {
  .vinilos {
    margin: auto;
    flex-direction: column; }
    .vinilos div {
      margin: auto;
      margin-top: 10px;
      height: 30%;
      width: 90%; } }

.tocadiscos-flex {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 60px; }
  .tocadiscos-flex span {
    text-align: center;
    padding: 50px; }
    .tocadiscos-flex span p {
      margin-top: 20px; }

.main {
  display: flex;
  margin-top: 10px; }
  .main img {
    margin: auto; }
  .main div {
    margin: auto;
    width: 40%;
    text-align: center; }
    .main div h2 {
      padding: 10px 0px; }
    .main div p {
      text-align: center;
      width: 90%;
      margin: auto; }

.mapa {
  display: flex;
  margin: 50px; }
  .mapa p {
    width: 30%;
    text-align: center;
    margin: auto; }

.formulario {
  width: 80%;
  margin: 30px auto;
  border-radius: 10px;
  border: 1px solid white; }
  .formulario form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px; }
    .formulario form .input-1 {
      height: 40px;
      width: 30%;
      padding: 0 10px;
      display: inline-flex;
      margin-bottom: 5px;
      color: white;
      border-radius: 10px;
      background-color: black;
      border: 1px solid white;
      font-size: 18px; }
    .formulario form textarea {
      padding: 10px;
      margin-bottom: 3px;
      display: inline-flex;
      margin-bottom: 3px;
      color: white;
      border-radius: 10px;
      background-color: black;
      height: 100px;
      border: 1px solid white;
      font-size: 17px; }
    .formulario form .boton {
      height: 30px;
      width: 80px;
      margin-top: 10px;
      border-radius: 10px; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: white; }
