.header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    @include sizes(100%, 80px);
    padding: 25px 0 25px 30px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top,$colorPrincipal,grey);

    h1{
        margin-left: 10px;
    }

    .menu-abrir, .menu-cerrar {
        display: none;
    }

    nav {
        width: 60%;
        margin-right: 10%;

        .nav-flex {
            display: flex;
            justify-content: space-between;

            li {
                font-weight: bold;
                font-family: 'Bebas Neue', regular;
                font-size: 30px;

                &:hover {
                    border-bottom: 1px solid white;
                }
            }
        }
    }
}

@media (max-width:1100px) {
    .header {
        height: 160px;
        flex-direction: column;

        nav {
            width: 100%;
            margin-right: 0;

            .nav-flex {
                width: 90%;
                margin: auto;
                
                li {
                    font-size: 25px;
                    font-weight: 20;
                }
            }
        }
    }
}


@media (max-width:750px) {

    .header{
        height: auto;
        padding-left: 0;
        flex-direction: row;

        .menu-abrir {
            margin-right:20px ;
        }
        
        .menu-abrir, .menu-cerrar {
            display: block;
        }
    
        nav {
            position: absolute;
            top: -300%;
            @include sizes (100%, auto);
            background-color: $colorPrincipal;
            transition: top .4s ease-out;
            &:target {
                top: 0%;
            }

            .nav-flex {
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }

            li {
                color: white;
            }
        }
    }
}
