.tituloVinilos {
    font-family: 'Bebas Neue', cursive;
    font-size: 58px;
    margin: 100px 0px 90px 70px;
}

.vinilos {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 50px;

    div {
        @include sizes (23%, 30%);
        margin: 10px;
        text-align: center;
        padding: 5px;

        p {
            margin-top: 10px;
            font-weight: bold;
        }

        &:hover {
            border: 2px solid white;
            border-radius: 10px;
        }
    }
}

@media (max-width:1050px){
    .tituloVinilos {
        margin:100px 0px 90px 20px ;
    }
    .vinilos{ 
        margin: auto;

        div {
            width: 45%;
        }
    }
}

@media (max-width: 550px){
    .tituloVinilos {
        font-size: 45px;
    }
    .vinilos {
        margin: auto;
        flex-direction: column;
        div {
            margin: auto;
            margin-top: 10px;
            @include sizes (90%, 30%)
        }
    }
}