
.main_tocaDiscos {
    .tocadiscos-flex {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        padding: 20px;
        margin-top: 30px;
        margin-left: 60px;
        transition: all 0.25s;

        &:hover {
            transform: translateY(-15px);
            border: 1px solid white;
            border-radius: 10px;
        }

        img {
            border-radius: 10px;
            margin-left: 15px;
        }
    
        .tocadiscos_texto {
            text-align: center;
            padding: 50px;
            h2 {
                font-size: 27px;
            }
            p {
                font-size: 18px;
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 900px) {
    .main_tocaDiscos {
        height: auto;
        .tocadiscos-flex {
            flex-direction: column;
            margin: auto;
            margin-top: 20px;
    
            img {
                @include sizes (50%, 50%);
            }
        }
    }
}

@media (max-width:600px){
    .tituloVinilos {
        font-size: 50px;
    }
    .main_tocaDiscos {
        .tocadiscos-flex {
            width: auto;
            margin-left: 0;
            margin-right: 0;
            margin: auto;
            border: none;
            span {
                padding: 10px;
                h2 {
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width:400px) {
    .tituloVinilos {
        font-size: 40px;
    }

    .tocadiscos-flex {
        width: 100%;
        margin: 0;
    }
}

@media (max-width:320px) {
    .tituloVinilos {
        font-size: 35px;
    }
}