.main {
    display: flex;
    margin-top: 10px;

    img {
        margin: auto;
    }
    div {
        margin: auto;
        width: 40%;
        text-align: center;

        h2 {
            padding: 10px 0px;
        }

        p {
            text-align: center;
            width: 90%;
            margin: auto;
        }
    }
}

.mapa {
    display: flex;
    margin: 50px;
    height: 600px;

    p{
        width:30%;
        text-align: center;
        margin: auto;
        margin-left: 10px;
        span {
            font-weight: bold;
            font-size: 25px;
        }
    }
}

@media (max-width:950px){
    .main {
        flex-direction: column;
        div {
            width: 100%;
            h2 {
                font-size: 40px;
            }
            p {
                margin-bottom: 10px;
            }
        }
    }
    .mapa {
        flex-direction: column-reverse;
        width: 100%;
        margin: 50px 0 50px 0;
        iframe {
            margin: auto;
        }
        p {
            @include sizes (100%, auto)
            margin-bottom: 50px;
            span {
                font-weight: bold;
                font-size: 25px;
            }
        }
    }
}